{%- liquid
  capture icon_caret
    render 'icon-caret'
  endcapture
  assign style = section.settings.type_style
-%}
{%- paginate blog.articles by section.settings.articles_per_page -%}
  <div class="section__m-blog blog-style-{{ style }} spacing spacing-xs gradient{% if section.settings.show_line_separator %} bottom-line{% endif %} color-{{ section.settings.color_scheme }} gradient o-h" style="--padding-top: {{ section.settings.padding_top }}px; --padding-bottom: {{ section.settings.padding_bottom }}px; --padding-top-xs: {{ section.settings.padding_top_mobile }}px; --padding-bottom-xs: {{ section.settings.padding_bottom_mobile }}px;">
    <div class="main-blog style-{{ section.settings.sidebar_type }} {{ section.settings.section_width }} m-auto" {% if section.settings.section_width == 'customized-width' %}style="--page-width: {{ section.settings.customize_width }}px;"{% endif %}>
      <div class="p-w__header p-w__header--nogap">
        <div class="p-w__header--wrapper left">
          {% if style == "special" %}
            {% assign padding_bottom = '5.3rem' %}
          {% else %}
            {% assign padding_bottom = '0.5rem' %}
          {% endif %}
          {% render 'breadcrumb', padding_top: '0.5rem', padding_bottom: padding_bottom, alignment: 'start' %}
          <h1 class="p-w__heading p-w__heading--page f-bold heading-size-small m-0 m-spacing{% if style != 'special' %} uppercase{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
            {{ blog.title | escape }}
          </h1>
        </div>
      </div>
      <div class="p-w__content container-line">
        {%- if section.blocks.size > 0 -%}
        {{ 'component-sidebar.css' | asset_url | stylesheet_tag }}
        <div class="p-w__drawer clearfix">
          <aside aria-labelledby="verticalTitle" class="aside aside__vertical">
            <page-drawer
              id="Drawer-{{ section.id }}"
              data-breakpoint="xs,sm"
              data-class-component="drawer pos-fixed top-0 left-0 z-index-8 w-100v h-100 d-flex {% if section.settings.sidebar_type == "popup" %}j-c-start{% else %}j-c-end{% endif %} no-js-hidden"
              data-class-inner="drawer__inner overflow-y overflow-x-h h-100"
              data-class-overlay="drawer__overlay pos-fixed top-0 left-0 right-0 bottom-0 c-pointer"
              data-sidebar-type="{% if section.settings.sidebar_type == "popup" %}true{% else %}false{% endif %}">
              <div class="page-drawer{% if section.settings.sidebar_type == "popup" %} d-flex{% endif %}">
                <div id="Drawer-Overlay-{{ section.id }}"></div>
                <div class="gradient d-flex f-column"
                  id="Drawer-Inner-{{ section.id }}"
                  role="dialog"
                  aria-modal="true"
                  aria-label="{{ 'general.sidebar.heading' | t }}"
                  tabindex="-1"
                >
                  <div class="drawer__header d-flex j-c-between a-i-center pos-relative no-js-hidden{% if section.settings.sidebar_type == "default" %} d-none-md{% endif %}">
                    <h2 class="drawer__heading break m-0">{{ 'general.sidebar.heading' | t }}</h2>
                    {% if section.settings.sidebar_type != "popup" %}
                      <button class="drawer__close d-block t-button b-none c-pointer b-circle button--close" type="button" onclick="this.closest('page-drawer').close()" aria-label="{{ 'accessibility.close' | t }}">
                        <span class="i__close e-none d-block pos-relative color-current w-100 h-100"></span>
                      </button>
                    {% endif %}
                  </div>
                  <div class="drawer__wrapper">
                    {% render 'asides', section: section, sidebar_type: section.settings.sidebar_type %}
                  </div>
                </div>
              </div>
              {% if section.settings.sidebar_type == "popup" %}
                <button class="drawer__close d-block t-button b-none c-pointer button--close" type="button" onclick="this.closest('page-drawer').close()" aria-label="{{ 'accessibility.close' | t }}">
                  <span class="i__close e-none d-block pos-relative color-current w-100 h-100"></span>
                </button>
              {% endif %}
            </page-drawer>
          </aside>
          <div class="aside__sibling">
          <page-drawer-opener class="page__drawer-opener d-block no-js-hidden{% if section.settings.sidebar_type == "default" %} d-none-md o-h{% endif %}" data-side-drawer="#Drawer-{{ section.id }}">
            <button class="{% if section.settings.sidebar_type == "default" %}d-block {% else %}d-flex f-row-reverse a-i-center uppercase {% endif %}t-button b-none c-pointer o-h l-h-1 gradient"
              type="button"
              aria-haspopup="dialog"
              aria-label="{{ 'general.sidebar.heading' | t }}"
            >
              {% if section.settings.sidebar_type == "default" %}
                {% render 'icon-filter' %}
                {{ 'general.sidebar.heading' | t }}
              {% else %}
                {% render 'icon-filter-2' %}
                {{ 'general.sidebar.label' | t }}
              {% endif %}
            </button>
          </page-drawer-opener>
        {%- endif -%}
          <div class="blog-articles p-b{% if style == 'special' %} d-flex{% else %} d-grid grid{% endif %}" style="--grid-v-xs: 1.5rem; --grid-v-sm: 3rem; --grid-v-md: 4.5rem; --grid-v-lg: 6rem; --p-b: 3rem;">
            {%- for article in blog.articles -%}
              <div class="blog-articles__article article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
                <div class="article-card-wrapper card-wrapper pos-relative w-100">
                  <div class="card article-card gradient">
                    <div class="card__inner pos-relative o-h w-100">
                      <a class="article-card__image-wrapper card__media o-h" href="{{ article.url }}" aria-label="{{ article.title | escape }}">
                        <animate-element class="d-block article-card__image">
                          {%- liquid
                            assign ratio = 1
                            if article.image
                              assign ratio = article.image.aspect_ratio
                            endif
                            if ratio == 0 or ratio == null
                              assign ratio = 1
                            endif
                          -%}
                          <div class="media media--transparent media--adapt media--zoom" style="padding-bottom: {{ 1 | divided_by: ratio | times: 100 }}%;"
                            data-animate="zoom-out"
                          >
                            {%- if article.image -%}
                              <img
                              srcset="{%- if article.image.src.width >= 165 -%}
                              {{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                              {%- if article.image.src.width >= 360 -%}
                              {{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                              {%- if article.image.src.width >= 533 -%}
                              {{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                              {%- if article.image.src.width >= 720 -%}
                              {{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                              {%- if article.image.src.width >= 1000 -%}
                              {{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                              {%- if article.image.src.width >= 1500 -%}
                              {{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                              {{ article.image.src | image_url }} {{ article.image.src.width }}w"
                              src="{{ article.image.src | image_url: width: 533 }}"
                              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                              alt="{{ article.image.src.alt | escape }}"
                              class="motion-reduce"
                              {% unless lazy_load == false %}loading="lazy"{% endunless %}
                              width="{{ article.image.width }}"
                              height="{{ article.image.height }}">
                            {%- else -%}
                              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                            {%- endif -%}
                          </div>
                        </animate-element>
                      </a>
                    </div>
                    <animate-element class="card__content d-block">
                      {% if style == 'special' %}
                        <div class="tags d-flex f-wrap w-100">
                          {% for tag in article.tags limit: 3 %}
                            <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="item-tag d-inline-flex u-none" aria-label="link">{{ tag }}</a>
                          {% endfor %}
                        </div>
                      {% endif %}
                      <h2 class="card__heading{% if style == 'special' %} p-w__heading heading-size-default{% else %} large{% endif %}" data-animate="fade-up" style="--a-delay: 0.2s;">
                        <a href="{{ article.url }}" class="d-block u-none color-current link-cover">{{ article.title | escape }}</a>
                      </h2>
                      {%- if section.settings.show_date or section.settings.show_author -%}
                        <div class="article-card__info card__info large color-light" data-animate="fade-up" style="--a-delay: 0.25s;">
                          {% if style == 'special' %}
                            {% if section.settings.show_author %}              
                              <div class="author">{{ 'blogs.article.author_1' | t : author :  article.author }}</div>
                            {% endif %}
                            {% if section.settings.show_date %}
                              <div class="day">{{ article.published_at | time_tag: '%d/%m/%Y' }}</div>
                            {% endif %}
                            {% else %}
                            <span>
                              {% if section.settings.show_author %}
                                {{ 'blogs.article.author' | t: author: article.author }}
                              {% endif %}
                              {% if section.settings.show_date %}
                                {{ 'blogs.article.published_at' | t }} {{ article.published_at | time_tag: '%b %d, %Y' }}
                              {% endif %}
                            </span>
                          {% endif %}
                        </div>
                      {%- endif -%}
                      {%- if section.settings.show_excerpts -%}
                        {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                          <p class="article-card__excerpt card__excerpt" data-animate="fade-up" style="--a-delay: 0.275s;">
                            {%- if article.excerpt.size > 0 -%}
                              {{ article.excerpt | strip_html }}
                            {%- else -%}
                              {{ article.content | strip_html | truncatewords: 400 }}
                            {%- endif -%}
                          </p>
                        {%- endif -%}
                      {%- endif -%}
                      {% if style != 'special' %}
                        <a href="{{ article.url }}" class="article-card__button button {{ settings.button_type | prepend: 'button--main-' }} {{ settings.button_icon | prepend: 'button--icon-' }} {{ settings.button_style | prepend: 'button--style-' }} {% if section.settings.button_transparent == 'transparent' %} button--transparent{% endif %} mi-w" data-animate="fade-up" style="--mi-w: 20rem; --a-delay: 0.2s;">
                          <span class="text">{{ 'blogs.article.read_more' | t }}</span>
                          {% render 'button-main-style' %}
                        </a>
                      {%- endif -%}
                    </animate-element>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>
          {%- if paginate.pages > 1 -%}
            {%- render 'pagination', 
              paginate: paginate, 
              pageType: style 
            -%}
          {%- endif -%}
        {%- if section.blocks.size > 0 -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endpaginate -%}

<style>
/* Custom Blog Layout Styles */
.blog-layout-custom {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

.blog-layout-custom .blog-header {
  text-align: center;
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eaeaea;
}

.blog-layout-custom .blog-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #1a1a1a;
}

.blog-layout-custom .blog-subtitle {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 1rem;
}

.blog-layout-custom .blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .blog-layout-custom .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .blog-layout-custom .blog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-layout-custom .blog-article {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-layout-custom .blog-article:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.blog-layout-custom .article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.blog-layout-custom .article-content {
  padding: 1.5rem;
}

.blog-layout-custom .article-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  line-height: 1.4;
}

.blog-layout-custom .article-title a {
  color: #1a1a1a;
  text-decoration: none;
}

.blog-layout-custom .article-title a:hover {
  color: #0066cc;
}

.blog-layout-custom .article-excerpt {
  color: #555;
  margin-bottom: 1rem;
  font-size: 0.95rem;
}

.blog-layout-custom .article-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #f0f0f0;
  font-size: 0.85rem;
  color: #888;
}

.blog-layout-custom .article-date {
  font-weight: 500;
}

.blog-layout-custom .article-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.blog-layout-custom .article-tag {
  background: #f5f5f5;
  color: #666;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  text-decoration: none;
}

.blog-layout-custom .article-tag:hover {
  background: #e9e9e9;
}

.blog-layout-custom .read-more {
  display: inline-block;
  margin-top: 1rem;
  color: #0066cc;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.9rem;
}

.blog-layout-custom .read-more:hover {
  text-decoration: underline;
}

.blog-layout-custom .blog-sidebar {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid #eaeaea;
}

.blog-layout-custom .sidebar-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #1a1a1a;
}

.blog-layout-custom .sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog-layout-custom .sidebar-item {
  margin-bottom: 0.75rem;
}

.blog-layout-custom .sidebar-item a {
  color: #555;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.blog-layout-custom .sidebar-item a:hover {
  color: #0066cc;
}

.blog-layout-custom .sidebar-item a::before {
  content: "•";
  margin-right: 0.5rem;
  color: #ccc;
}

/* Customizer classes for easy customization */
.blog-layout-custom .custom-blog-grid {
  display: grid;
  gap: var(--blog-grid-gap, 2rem);
  grid-template-columns: var(--blog-grid-columns, 1fr);
}

.blog-layout-custom .custom-article-card {
  background: var(--article-bg, #fff);
  border-radius: var(--article-radius, 8px);
  overflow: hidden;
  box-shadow: var(--article-shadow, 0 4px 12px rgba(0,0,0,0.05));
}

.blog-layout-custom .custom-article-image {
  height: var(--image-height, 200px);
  object-fit: cover;
}

.blog-layout-custom .custom-article-content {
  padding: var(--content-padding, 1.5rem);
}

.blog-layout-custom .custom-article-title {
  font-size: var(--title-size, 1.25rem);
  font-weight: var(--title-weight, 600);
  color: var(--title-color, #1a1a1a);
}

.blog-layout-custom .custom-article-excerpt {
  font-size: var(--excerpt-size, 0.95rem);
  color: var(--excerpt-color, #555);
}

.blog-layout-custom .custom-article-meta {
  font-size: var(--meta-size, 0.85rem);
  color: var(--meta-color, #888);
}
</style>

{% schema %}
{
  "name": "Custom Blog Layout",
  "tag": "section",
  "class": "blog-layout-custom",
  "settings": [
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "select",
      "id": "layout_type",
      "label": "Layout Type",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "list",
          "label": "List"
        },
        {
          "value": "masonry",
          "label": "Masonry"
        }
      ],
      "default": "grid"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Columns on Desktop",
      "default": 3
    },
    {
      "type": "range",
      "id": "columns_tablet",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Columns on Tablet",
      "default": 2
    },
    {
      "type": "header",
      "content": "Article Settings"
    },
    {
      "type": "checkbox",
      "id": "show_featured_image",
      "label": "Show Featured Image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show Date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show Author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show Excerpt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show Tags",
      "default": false
    },
    {
      "type": "range",
      "id": "excerpt_length",
      "min": 10,
      "max": 100,
      "step": 5,
      "label": "Excerpt Length",
      "default": 30
    },
    {
      "type": "header",
      "content": "Style Settings"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#1a1a1a"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#555555"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Card Border Radius",
      "default": 8
    },
    {
      "type": "range",
      "id": "image_height",
      "min": 150,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "Image Height",
      "default": 200
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "grid_gap",
      "min": 10,
      "max": 50,
      "step": 5,
      "unit": "px",
      "label": "Grid Gap",
      "default": 30
    }
  ],
  "presets": [
    {
      "name": "Custom Blog Layout",
      "category": "Blog"
    }
  ]
}
{% endschema %}